@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Kalam:wght@300&family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');

/*
Fuentes
font-family: 'DynaPuff', cursive;
font-family: 'Kalam', cursive;
font-family: 'Press Start 2P', cursive; // retro
font-family: 'Rubik Wet Paint', cursive; // sangriento
*/


* {
    box-sizing: border-box;
}

body{
    background-color: rebeccapurple;
    background-image: url('./assets/img/escenarios/santuarioDS1.png');
    background-repeat: no-repeat, repeat;
    background-size: 100vw  100vh ;
    
    font-family: 'Press Start 2P', cursive;
}

body img{
    align-items: center;
}

#seleccionar-mascota{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}

#titulo-principal{
    color:darkblue;
    width: 625px;
    height: 80px;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /*
    font-family: 'Rubik Wet Paint', cursive;
    */
    font-family: 'Press Start 2P', cursive; 
    font-size: 48px;

}

.subtitulo {
    background-color: black;
    color: white;
    padding: 10px;
}

.bloque-tarjetas{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.tarjeta-personaje {
    width: 200px;
    height: 350px;
    background-color: transparent;
    /*
    padding: 10px;
    */
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}


.tarjeta-personaje img{
    width: 120px;
    height: 170px;
    margin: 10px;
}

.tarjeta-personaje p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
}

.input-tarjeta-personaje {
    /* oculta el radio */
    display: none;
}

input:checked + label{
    background-color: rgb(63, 25, 170);
    border-color: rgb(21, 21, 112);
}

.tarjeta-personaje:hover {
    width: 220px;
    height: 385px;
    margin: 0px;
}

.tarjeta-personaje:hover p{
    color: yellow;
}

.tarjeta-personaje:hover img{
    width: 140px;
    height: 190px;
    margin: 10px;
}

.boton-tipo-1 {
    width: 190px;
    height: 50px;
    margin: 15px;
    color: darkblue;
    border-radius: 20px;
    border: solid 2px white;
    background: yellowgreen;
    font-family: 'Press Start 2P', cursive; 
    font-size: 15px;
}

/* step 2 styles*/
#seleccionar-ataque {
    /* display: flex; lo toma del js*/
    flex-direction: column;
    align-items: center;
}

#relato{
    background-color: black;
    border-radius: 5px;
    color: white;
    height: 45px;
    display: flex;
    align-items: center;
}

.botones-ataques-jugador{
    display: flex;
    margin: 20px;
}
/* igual que el 'p' del personaje de step1*/
.boton-ataque{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-family: 'Press Start 2P', cursive; 
}

#grid-datos {
    display: grid;
    grid-template-columns: 200px 200px;
    text-align: center;
    margin: 25px;
}

.grid-enemigo, .grid-jugador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 550px){
    .bloque-tarjetas, .botones-ataques-jugador{
        flex-direction: column;
    }
}